.sidebar {
  margin-top: 88px;
  height: 100vh;
  width: 320px;
  font-size: 8rem;
  background-color:#666666 !important;
  opacity: 0.98;
  z-index: 9999;
}

.navbar-nav {
  height: 100vh;
}

img{
  margin-left:45%;
  width: 155px;
  z-index: -1;
}

.log-out{
  margin-top: 0.2em;
  margin-left: 1em;;
  color: #fff;
  cursor: pointer;
  font-family: Raleway;
  font-weight: bold;
}

.log-in {
  margin-left: 0.4em;
  color: #fff;
  cursor: pointer;
  font-family: Raleway;
  font-weight: bold;
  margin-top: 0.2em;
}

button{
  border-radius: 20%;
  border: none;
}

.nav-item{
  cursor: pointer;
}

#boutonfiltre2 {
  transition: transform 0.5s ease-in-out;
  position: fixed;
  cursor: pointer;
}

.trans {
  transform: translateX(0px) !important;
  transition: transform 0.5s ease-in-out !important;
}

.hidden {
  transform: translateX(-320px);
  transition: transform 0.4s ease-in-out;
}

.transBtn {
  position: relative;
  z-index:3;
}

input{
  max-width: 200px;
}

@media screen and (max-width: 800px){
  
  img{
    margin-left: 33%;
  }
  
  li{
    margin-top: 0%;
  }
  
  ul .d-flex {
    margin-top: -0.75em;
  }
  .reseaux{
    margin-top: 5%;
  }
  
}

.loupe{
  font-size: 1.9em;
  margin-left: 95%;
  margin-top:-80px;
  color: white;
}

.navbar{
  background-color: #666666;
  opacity: 0.98;
}

.reseaux{
  font-size: 0.3em;
  margin-top: 0.7em;
  margin-left: 0.4em;
}

.closeside{
  margin-left: 5%;
  font-size: 2.6em;
  color: white;
}

.openside{
  margin-left: 5%;
  font-size: 2.3em;
  color: white;
}

a{
  color: white;
}

a :hover{
  color:#70CCCC;
  text-decoration: none;
}

.fa{
  color: white;
}

.fa :hover{
  color:#70CCCC;
  text-decoration: none;
}

li :hover, a :hover {
  color:#70CCCC;
  text-decoration: none;
}

h1{
  font-family: Raleway;
  text-transform: uppercase;
}

.btn {
  border-radius: 2em;
  margin-left: 10.5em;
  font-family: Raleway;
}

.btn:hover {
  background-color: #70CCCC;
}

h4 {
  margin-left: 7.25em;
  font-family: Raleway;
  font-weight: bold;
}

.connect {
  margin-left: 7.25em;
  font-family: Raleway;
}

@media screen and (max-width: 500px) {
  .connect {
    margin-left: 3em;
  }

  .btn {
    margin-left: 5em;
  }

  h4 {
    margin-left: 3em;
  }
}

.obl {
  text-align: center;
}

.alert-danger {
  margin-top: 1em;
}

/*
body {
  margin: 0;
  padding: 0;
  background: #6ecbcc;
}

.search-box {
  position: absolute;
  top: 20%;
  right: 5%;
  background: #6ecbcc;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.search-box:hover>.search-txt {
  width: 240px;
  padding: 0 6px;
}

.search-box:hover>.search-btn {
  background : white;
  color: #6ecbcc;
}

.search-btn {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #6ecbcc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  color: white;
  font-size: 17px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
} */


/* 2eme model */

.searchbar {
  position: absolute;
  top: 0.7em;
  right: 2em;
  background: #666666;
  border-radius: 50px;
  padding: 10px;
  transition: width 0.3s linear;
  
}

.search_input {
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  height: 3em;
  caret-color: transparent;
  line-height: 40px;
  border-radius: 50px;
}

.searchbar:hover>.search_input {
  padding: 0 10px;
  width: 400px;
  caret-color: black;
  transition: width 0.3s linear;
  background-color: #70CCCC;
}

.searchbar:hover>.search_icon {
 background-color: transparent;
 cursor: pointer;
}

.search_icon {
  position: absolute;
  top: 0.3em;
  right: 0.5em;
  height: 50px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #666666;
  opacity: 0.98;
  font-size: 1.7rem;
}
