<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />

<!-- navbar -->
<nav class="navbar navbar-light fixed-top">

  <!-- bouton pour faire apparaitre la sidebar -->
  <button [ngClass]="{'transBtn': sidebarDisplayed}" (click)="showSidebar(!sidebarDisplayed)" id="boutonfiltre2" class="btnStartPos navbar-toggler"
    type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">

    <!-- menu burger ouverture sidebar -->
    <div *ngIf="!sidebarDisplayed" class="openside">
      <i class="fa fa-bars"></i>
    </div>
    <!-- croix fermeture sidebar -->
    <div *ngIf="sidebarDisplayed" class="closeside">
      <i class="fa fa-times"></i>
    </div>
  </button>

  <!-- Logo FunLab -->
  <img src="../../assets/images/image-header/logo_blanc.svg" routerLink="" (click)="showSidebar(false)">

  <!-- Champ de recherche -->
  <form [formGroup]="rechercheForm" (ngSubmit)="onSubmit(); rechercheForm.reset()">
    <div class="searchbar">
      <input class="form-control search_input" type="text" formControlName="input" placeholder="Rechercher...">
      <!-- <a class="search_icon" routerLink="/recherche"><i class="fa fa-search"></i></a> -->
      <button class="search_icon" type="submit" [disabled]="rechercheForm.invalid"><i class="fa fa-search"></i></button>
    </div>
  </form>
</nav>
<!-- fin navbar -->

<!-- Sidebar -->
<nav class="sidebar hidden fixed-top" id="nav1" [ngClass]="{'trans': sidebarDisplayed}">
    <div class="navbar-nav">
        <div class="row">
            <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="false">
                <ul class="nav sidebar-nav d-table">
                    <li class="nav-item">
                        <h3 class="nav-link" routerLink="" (click)="showSidebar(false)">Accueil</h3>
                    </li>
                    <li class="nav-item">
                        <h3 class="nav-link" routerLink="/agenda" (click)="showSidebar(false)">Agenda</h3>
                    </li>
                    <li class="nav-item">
                        <h3 class="nav-link"><a  (click)="showSidebar(false)" href="http://funlab.fr/category/actusblog/" title="Lien externe: http://funlab.fr/category/actusblog/" target="_blank">Blog</a></h3>
                    </li>
                    <li class="nav-item">
                        <h3 class="nav-link"><a (click)="showSidebar(false)" href="http://wiki.funlab.fr/index.php/Accueil" title="Lien externe: http://wiki.funlab.fr/index.php/Accueil" target="_blank">Wiki</a></h3>
                    </li>
                    <li class="nav-item">
                        <h3 class="nav-link" routerLink="/machine" (click)="showSidebar(false)">Machines</h3>
                    </li>
                    <li class="nav-item">
                        <h3 class="nav-link" routerLink="/equipe" (click)="showSidebar(false)">Equipe</h3>
                    </li>
                    <li class="nav-item">
                        <h3 class="nav-link" routerLink="/contact" (click)="showSidebar(false)">Contact</h3>
                    </li>
                    <div class="reseaux">
                        <ul class="d-flex">
                            <a href="https://www.facebook.com/FablabTourangeau/" target="_blank" title="Lien externe: https://www.facebook.com/FablabTourangeau/"><i  class="fa fa-facebook-f mx-3"></i></a>
                            <a href="https://www.instagram.com/funlab_tours/" target="_blank" title="Lien externe: https://www.instagram.com/funlab_tours/"><i class="fa fa-instagram mx-3"></i></a>
                            <a href="https://twitter.com/lefunlab/" target="_blank" title="Lien externe: https://twitter.com/lefunlab/"><i class="fa fa-twitter mx-3"></i></a>

                            <!-- debut modal connexion user -->
                            
                            <a (click)="open(content)" (click)="showSidebar(false)"><i class="fa fa-user mx-3"></i></a>
                            <ng-template #content let-modal>
                                <div class="modal-header">
                                    <h4>Connection</h4>
                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <form (ngSubmit)="connectUser(connectForm.value)" [formGroup]="connectForm">
                                            <div class="form-group">
                                                <input type="text" class="form-control connect" name="username" formControlName='username' placeholder="username"/>
                                                <div *ngIf="connectForm.controls['username'].invalid && (connectForm.controls['username'].dirty || connectForm.controls['username'].touched)" class="alert alert-danger">
                                                    <div class="obl" *ngIf="connectForm.controls['username'].errors.required">Le username est obligatoire.</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control connect" name="password" formControlName='password' placeholder="password"/>
                                                <div *ngIf="connectForm.controls['password'].invalid && (connectForm.controls['password'].dirty || connectForm.controls['password'].touched)" class="alert alert-danger">
                                                    <div class="obl" *ngIf="connectForm.controls['password'].errors.required">Le mot de passe est obligatoire.</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button routerLink="/user" type='submit' [disabled]="connectForm.pristine ||connectForm.invalid" class='btn btn-secondary' (click)="connectUser()" (click)="modal.close()">Se connecter</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </ng-template>
                            <!-- fin modal connexion user -->
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- Fin sidebar -->
