.sidebar {
  margin-top: 88px;
  height: 100vh;
  width: 320px;
  font-size: 8rem;
  background-color:#666666 !important;
  opacity: 0.98;
  z-index: 9999;
}

.navbar-nav {
  height: 100vh;
}

img{
  margin-left:45%;
  width: 155px;
  z-index: -1;
}

li{
  font-family: Raleway;
  margin-top: 10%;
  margin-left: 50%;
  color: #fff;
  cursor: pointer;
  font-family: Raleway;
  font-weight: bold;
}

li :hover{
  color:black;
  text-decoration: none;
}

a :hover{
  color:black;
  text-decoration: none;
}

button{
  border-radius: 20%;
  border: none;
}

.nav-item{
  cursor: pointer;
}

#boutonfiltre2 {
  transition: transform 0.5s ease-in-out;
  position: fixed;
  cursor: pointer;
}

.trans {
  transform: translateX(0px) !important;
  transition: transform 0.5s ease-in-out !important;
}

.hidden {
  transform: translateX(-320px);
  transition: transform 0.4s ease-in-out;
}

.transBtn {
  position: relative;
  z-index:3;
}

input{
  max-width: 200px;
}

@media screen and (max-width: 800px){

  img{
    margin-left: 33%;
  }

  li{
    margin-top: 5%;
  }

  .reseaux{
    margin-top: 5%;
  }

}

.loupe{
  font-size: 1.9em;
  margin-left: 95%;
  margin-top:-80px;
  color: white;
}

.navbar{
  background-color: #666666;
  opacity: 0.98;
}

.reseaux{
  font-size: 0.3em;
  margin-top: 15%;
  margin-left: 10%
}

.closeside{
  margin-left: 5%;
  font-size: 2.6em;
  color: white;
}

.openside{
  margin-left: 5%;
  font-size: 2.3em;
  color: white;
}

a{
  color: white;
}

li :hover, a :hover {
  color:black;
  text-decoration: none;
}

h1{
  font-family: Raleway;
  text-transform: uppercase;
}

/*
body {
  margin: 0;
  padding: 0;
  background: #6ecbcc;
}

.search-box {
  position: absolute;
  top: 20%;
  right: 5%;
  background: #6ecbcc;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.search-box:hover>.search-txt {
  width: 240px;
  padding: 0 6px;
}

.search-box:hover>.search-btn {
  background : white;
  color: #6ecbcc;
}

.search-btn {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #6ecbcc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  color: white;
  font-size: 17px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
} */


/* 2eme model */

.searchbar {
  position: absolute;
  top: 20%;
  right: 5%;
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #70cccc;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
  padding: 0 10px;
  width: 450px;
  caret-color: black;
  transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
  background: white;
  color: #70cccc;
}

.search_icon {
  position: absolute;
  top: 15%;
  right: 5%;
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background: #70cccc;
}
