footer {
  width:100%;
  background-color: #666666;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}

/* section adresse et horaires */
.col-sm-6 {
  color: #FFF;
  text-align: center;
}

footer p, .enveloppe {
  font-size: 18px;
  color: #CCC;
  padding-bottom: 0px;
  margin-bottom: 8px;
  text-align: center;
  font-family: Raleway;
}

/* titre adresse et horaires */
h5 {
  font-family: Raleway;
  font-size: 22px;
  font-weight: bold;
  padding-top: 40px;
  margin-bottom: 20px;
}

.bottom-border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}

.btn{
  max-height: 40px;
  font-size: 20px;
  margin: 20px auto 0 auto;
}

/* lien wild code school */

.mt-3 a{
  text-decoration: none;
  color: #70CFD0;
}

/*Icon reseaux sociaux*/

.text-white{
  font-size: 34px;
  text-align: center;
}

.reseaux{
  margin-top: 5.5em;
  margin-left: 6%;
  text-align: center;
  padding: 0;
  list-style-type: none;
}

.reseaux :hover{
  color:#70CFD0;
  text-decoration: none;
}
