.col-white-amrc {
  color: #FFF;
  text-align: center;
}

footer {
  width:100%;
  background-color: #666666;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}

.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}

footer p {
  font-size: 18px;
  color: #CCC;
  padding-bottom: 0px;
  margin-bottom: 8px;
  text-align: center;
  font-family: Raleway;
}

.bottom-border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}

.reseaux :hover{
  color:#70CCCC;
  text-decoration: none;
}

.text-white{
  font-size: 33px;
}

.res{
  margin-top: 5.5em;
}



.btn{
  max-height: 40px;
  font-size: 20px;
  margin: 20px auto 0 auto;
}


h5 {
  font-family: Raleway;
  font-size: 22px;
  font-weight: bold;
}

.mt-3 a{
  text-decoration: none;
  color: #70CCCC;
}


/*Icon reseaux sociaux*/

.text-white{
  font-size: 34px;
  text-align: center;
}

.reseaux{
  margin-top: 2%;
  margin-left: 6%;
  text-align: center;
}

ul.reseaux {
  padding: 0;
  list-style-type: none;
}