.pdf-container {
    margin-top: 8em;
}

.pdf {
    margin-top: 3em;
}

.btn {
    background-color: #70CCCC;
    border-color: #70CCCC;
    color: white;
    margin-right: 4em;
}
@media screen and (min-width:350px) and (max-width: 500px) {
    .btn {
        margin-right: 6em;
    }
}

.btn:hover {
    background-color: #000000;
    border-color: #000000;
}

