<h1 class="text-center">Tableau de bord</h1>
<section class="container">
  <div class="row justify-content-around">

    <!-- Début card gestion equipe -->
    <div class="col-sm-12 col-md-12 col-lg-4 mt-3">
      <div class="card ml-4 mr-4 h-100">
        <div class="card-body">
          <h3>Gestion Equipe</h3>
          <ul class="adherant">
            <li>Ajouter un membre de l'équipe</li>
            <li>Modifier les informations des membres d'equipe</li>
            <li>Supprimer un membre de l'équipe</li>
          </ul>
        </div>
        <div class="card-footer">
          <a routerLink="/modifsupequipe" class="btn btn-primary btn-block">Gérer</a>
        </div>
      </div>
    </div>
    <!-- Fin card gestion equipe -->

    <!-- Début card gestion machine -->
    <div class="col-sm-12 col-md-12 col-lg-4 mt-3">
      <div class="card ml-4 mr-4 h-100">
        <div class="card-body">
          <h3>Gestion Machines</h3>
          <ul class="adherant">
            <li>Ajouter une machine</li>
            <li>Modifier les informations machines</li>
            <li>Supprimer une machine</li>
          </ul>
        </div>
        <div class="card-footer">
          <a routerLink="/modifsupemachine" class="btn btn-primary btn-block">Gérer</a>
        </div>
      </div>
    </div>
    <!-- Fin card gestion machine -->

        <!-- Début card gestion partenaires -->
        <div class="col-sm-12 col-md-12 col-lg-4 mt-3">
          <div class="card ml-4 mr-4 h-100">
            <div class="card-body">
              <h3>Gestion Partenaires</h3>
              <ul class="adherant">
                <li>Ajouter un partenaire</li>
                <li>Modifier les informations des partenaires</li>
                <li>Supprimer un partenaire</li>
              </ul>
            </div>
            <div class="card-footer">
              <a routerLink="/modifsuppartenaire" class="btn btn-primary btn-block">Gérer</a>
            </div>
          </div>
        </div>

  </div>
</section>
