/* Container */

.container {
  padding-right: 2px;
  padding-left: 2px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Raleway', sans-serif;
}

/* Funlab image */

.funlab-image {
  width: 50%;
}

/* Funlab Title */

.funlab-presentation h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1.5px;
}

/* Presentation text about Funlab */

.funlab-presentation p {
  text-align: center;
  font-size: 22px;
  color: #7d7d7d;
}
