<!-- Above link to be deleted once full stylesheet css complete -->

<div class="container">
  <div class="row h-100 justify-content-center align-items-center">

    <!-- 	Start product image & follow us -->
    <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center">
      <div class="funlab-image">
        <img src="assets/images/image_presentation/logo_fun_lab.png" class="img-fluid"alt="funlab image">
      </div>
    </div>
    <!--  End product image  -->
    
    <!-- Start FunLab presentation -->
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="funlab-presentation">
        <h2>170m2 d’atelier dédié à la création et à la coopération</h2>
        <!-- Information about the Funlab -->
        <p>Le Funlab est porté par l’association La Fabrique d’Usages Numériques. Son atelier de fabrication au coeur de Mame favorise la réappropriation des techniques et technologies numériques, l’esprit créatif et DIY et des modèles ouverts de production et de coopération sur le territoire.
        </p>
      </div>
      <!-- 	End	FunLab details   -->
    </div>
  </div>
</div>


