/* Container */

.container {
  padding-right: 2px;
  padding-left: 2px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Raleway', sans-serif;
  margin-top: 7%;
  margin-bottom: 7%;
}

/* Funlab image */

.funlab-image {
  width: 50%;
}

/* Funlab Title */

.funlab-presentation> h1 {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  color: #696969;
  letter-spacing: 1px;
  font-family: Raleway;
}

/* Presentation text about Funlab */

.funlab-presentation> p {
  font-size: 1.125rem;
  color: #7d7d7d;
  font-family: Raleway;
  margin-top: 1em;
  text-align: justify;
  text-justify: inter-word;
  text-align-last: center;
}
