<!-- Above link to be deleted once full stylesheet css complete -->

<div class="container">
  <div class="row h-100 justify-content-center align-items-center">

    <!-- 	Start product image & follow us -->
    <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center">
      <div class="funlab-image">
        <img src="assets/images/image_presentation/logo_fun_lab.png" class="img-fluid"alt="funlab image">
      </div>
    </div>
    <!--  End product image  -->
    
    <!-- Start FunLab presentation -->
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="funlab-presentation">
        <h1>FunLab</h1>
        <!-- Information about the Funlab -->
        <p class="information">Le FunLab est porté par l'association la Fabrique d'Usages Numérique qui ofrre un atelier de fabrication partagé de 170m2 au coeur de MAME. </p>
      </div>
      <!-- 	End	FunLab details   -->
    </div>
  </div>
</div>


