/* Container */

.container {
  padding-right: 2px;
  padding-left: 2px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Raleway', sans-serif;
  margin-top: 7%;
  margin-bottom: 7%;
}

/* Funlab image */

.funlab-image {
  width: 50%;
}

/* Funlab Title */

.funlab-presentation h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-family: Raleway;
  margin-left: 1em;
  margin-right: 1em;
}

/* Presentation text about Funlab */

.funlab-presentation p {
  text-align: center;
  font-size: 1.125rem;
  color: #7d7d7d;
  font-family: Raleway;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
