 <div class="container mx-auto">
    <div class="innerwrap">

      <h1 class="text-center">Contacter-nous</h1>
      <section class="section2 clearfix">

        <div class="col2 column1 first">
          <aol-map>
            <aol-control-zoom></aol-control-zoom>
            <aol-control-fullscreen></aol-control-fullscreen>
            <aol-interaction-default></aol-interaction-default>
            <aol-view [zoom]="14">
              <aol-coordinate [x]=" 0.66842" [y]="47.39301" [srid]="'EPSG:4326'"></aol-coordinate>
            </aol-view>
            <aol-layer-tile [opacity]="1">
              <aol-source-osm></aol-source-osm>
            </aol-layer-tile>
            <aol-layer-vector>
              <aol-source-cluster [distance]="60">
                <aol-source-vector>
                  <aol-feature>
                    <aol-overlay>
                      <!--Coordonnées FanLab-->
                      <aol-coordinate [x]="0.6691059" [y]="47.3931929" [srid]="'EPSG:4326'"></aol-coordinate>
                      <aol-content>
                        <span class="logo_FanLab">
                          <img src="assets/localisationimages/MapMarker.png">
                        </span>
                      </aol-content>
                    </aol-overlay>
                  </aol-feature>
                </aol-source-vector>
              </aol-source-cluster>
            </aol-layer-vector>
            <aol-layer-vector>
              <aol-source-vector>
                <aol-feature>
                  <aol-geometry-polygon>
                    <aol-collection-coordinates [coordinates]="[[1.47, 43.545],[1.51, 43.545],[1.51, 43.565], [1.47, 43.565]]"
                      [srid]="'EPSG:4326'">
                    </aol-collection-coordinates>
                  </aol-geometry-polygon>
                  <aol-style>
                    <aol-style-stroke [color]="'red'" [width]="2"></aol-style-stroke>
                    <aol-style-fill [color]="[255,0,0,0.1]"></aol-style-fill>
                  </aol-style>
                </aol-feature>
              </aol-source-vector>
            </aol-layer-vector>
          </aol-map>
        </div>


        <div class="col2 column2 last">

          <div class="sec2innercont">
            <div class="sec2addr">
              <p> MAME, 49 Boulevard Preuilly, 37000 Tours</p>
              <p><span class="collig">Email :</span> contact@funlab.fr </p>
            </div>
          </div>

          <div class="sec2contactform">
            <h5 class="sec2frmtitle">Laisser nous votre message</h5>

            <form [formGroup]="touchForm" (ngSbmit)='contactForm(touchForm.value)'>
              <div class='form-group'>
                <!-- <label>Nom: </label> -->
                <input type='text' class="form-control" formControlName="nom" placeholder="Votre nom">
                <div *ngIf="touchForm.controls['nom'].invalid && (touchForm.controls['nom'].dirty || touchForm.controls['nom'].touched)"
                  class="alert alert-danger">
                  <div *ngIf="touchForm.controls['nom'].errors.required">Le champ nom est obligatoire.</div>
                </div>
              </div>

              <div class='form-group'>
                <!-- <label>E-mail: </label> -->
                <input type='email' formControlName="email" class='form-control' placeholder="Votre adresse Mail">
                <div *ngIf="touchForm.controls['email'].invalid && (touchForm.controls['email'].dirty || touchForm.controls['email'].touched)"
                  class="alert alert-danger">
                  <div *ngIf="touchForm.controls['email'].errors.required">Le email est obligatoire.</div>
                </div>
              </div>

              <div class='form-group'>
                <!-- <label>Sujet: </label> -->
                <input type='text' formControlName="sujet" class='form-control' placeholder="Sujet">
                <div *ngIf="touchForm.controls['sujet'].invalid && (touchForm.controls['sujet'].dirty || touchForm.controls['sujet'].touched)"
                  class="alert alert-danger">
                  <div *ngIf="touchForm.controls['sujet'].errors.required">Le sujet est obligatoire.</div>
                </div>
              </div>

              <div class='form-group'>
                <!-- <label>Message: </label> -->
                <textarea formControlName="message" class='form-control' cols='30' rows='6' placeholder="Tapez ici votre message"></textarea>
                <div *ngIf="touchForm.controls['message'].invalid && (touchForm.controls['message'].dirty || touchForm.controls['message'].touched)"
                  class="alert alert-danger">
                  <div *ngIf="touchForm.controls['message'].errors.required">Le message est obligatoire.</div>
                </div>
              </div>
              <button type='submit' [disabled]="touchForm.invalid" class='btn btn-primary'>Envoyer</button>
            </form>
          </div>

        </div>
      </section>

    </div>
  </div>

