<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="text-white">Notre équipe</h1>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-xl-3 col-md-3 col-sm-6 mt-5">
        <div class="our-team">
          <div class="pic">
            <img src="https://via.placeholder.com/60x60.png?text=Visit+WhoIsHostingThis.comC/O https://placeholder.com/" >
            
          </div>
          <div class="team-content">
            <h3>Catherine</h3>
            <span class="post">few description or citations</span>
          </div>
          <ul class="social">
            <li><a href="" class="fa fa-facebook m-4"></a></li>
            <li><a href="" class="fa fa-twitter m-4"></a></li>
            <li><a href="www.linkedin.com/in/raj-kumar-web-designer
              " class="fa fa-linkedin m-4"></a></li>
            </ul>
          </div>
        </div>
        
        
        <div class=" col-xl-3 col-md-3 col-sm-6 mt-5">
          <div class="our-team">
            <div class="pic">
              <img src="https://via.placeholder.com/60x60.png?text=Visit+WhoIsHostingThis.comC/O https://placeholder.com/" >
              
            </div>
            <div class="team-content">
              <h3>Catherine</h3>
              <span class="post">few description or citations</span>
            </div>
            <ul class="social">
              <li><a href="" class="fa fa-facebook m-4"></a></li>
              <li><a href="" class="fa fa-twitter m-4"></a></li>
              <li><a href="www.linkedin.com/in/raj-kumar-web-designer
                " class="fa fa-linkedin m-4"></a></li>
              </ul>
            </div>
          </div>
          <div class=" col-xl-3 col-md-3 col-sm-6 mt-5">
            <div class="our-team">
              <div class="pic">
                <img src="https://via.placeholder.com/60x60.png?text=Visit+WhoIsHostingThis.comC/O https://placeholder.com/" >
                
              </div>
              <div class="team-content">
                <h3>Catherine</h3>
                <span class="post">few description or citations</span>
              </div>
              <ul class="social">
                <li><a href="" class="fa fa-facebook m-4"></a></li>
                <li><a href="" class="fa fa-twitter m-4"></a></li>
                <li><a href="www.linkedin.com/in/raj-kumar-web-designer
                  " class="fa fa-linkedin m-4"></a></li>
                </ul>
              </div>
            </div>
            <div class=" col-xl-3 col-md-3 col-sm-6 mt-5">
              <div class="our-team">
                <div class="pic">
                  <img src="https://via.placeholder.com/60x60.png?text=Visit+WhoIsHostingThis.comC/O https://placeholder.com/" >
                  
                </div>
                <div class="team-content">
                  <h3>Catherine</h3>
                  <span class="post">few description or citations</span>
                </div>
                <ul class="social">
                  <li><a href="" class="fa fa-facebook m-4"></a></li>
                  <li><a href="" class="fa fa-twitter m-4"></a></li>
                  <li><a href="www.linkedin.com/in/raj-kumar-web-designer
                    " class="fa fa-linkedin m-4"></a></li>
                  </ul>
                </div>
              </div>
              <div class=" col-xl-3 col-md-3 col-sm-6 mt-5">
                <div class="our-team">
                  <div class="pic">
                    <img src="https://via.placeholder.com/60x60.png?text=Visit+WhoIsHostingThis.comC/O https://placeholder.com/" >
                    
                  </div>
                  <div class="team-content">
                    <h3>Catherine</h3>
                    <span class="post">few description or citations</span>
                  </div>
                  <ul class="social">
                    <li><a href="" class="fa fa-facebook m-4"></a></li>
                    <li><a href="" class="fa fa-twitter m-4"></a></li>
                    <li><a href="www.linkedin.com/in/raj-kumar-web-designer
                      " class="fa fa-linkedin m-4"></a></li>
                    </ul>
                  </div>
                </div>
 
                <div class=" col-xl-3 col-md-3 col-sm-6 mt-5">
                  <div class="our-team">
                    <div class="pic">
                      <img src="https://via.placeholder.com/60x60.png?text=Visit+WhoIsHostingThis.comC/O https://placeholder.com/" >
                      
                    </div>
                    <div class="team-content">
                      <h3>Catherine</h3>
                      <span class="post">few description or citations</span>
                    </div>
                    <ul class="social">
                      <li><a href="" class="fa fa-facebook m-4"></a></li>
                      <li><a href="" class="fa fa-twitter m-4"></a></li>
                      <li><a href="www.linkedin.com/in/raj-kumar-web-designer
                        " class="fa fa-linkedin m-4"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class=" col-xl-3 col-md-3 col-sm-6 mt-5">
                    <div class="our-team">
                      <div class="pic">
                        <img src="https://via.placeholder.com/60x60.png?text=Visit+WhoIsHostingThis.comC/O https://placeholder.com/" >
                        
                      </div>
                      <div class="team-content">
                        <h3>Catherine</h3>
                        <span class="post">few description or citations</span>
                      </div>
                      <ul class="social">
                        <li><a href="" class="fa fa-facebook m-4"></a></li>
                        <li><a href="" class="fa fa-twitter m-4"></a></li>
                        <li><a href="www.linkedin.com/in/raj-kumar-web-designer
                          " class="fa fa-linkedin m-4"></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class=" col-xl-3 col-md-3 col-sm-6 mt-5">
                      <div class="our-team">
                        <div class="pic">
                          <img src="https://via.placeholder.com/60x60.png?text=Visit+WhoIsHostingThis.comC/O https://placeholder.com/" >
                          
                        </div>
                        <div class="team-content">
                          <h3>Catherine</h3>
                          <span class="post">few description or citations</span>
                        </div>
                        <ul class="social">
                          <li><a href="" class="fa fa-facebook m-4"></a></li>
                          <li><a href="" class="fa fa-twitter m-4"></a></li>
                          <li><a href="www.linkedin.com/in/raj-kumar-web-designer
                            " class="fa fa-linkedin m-4"></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    
                    
                  </div>
                </div>
              