.row {
    margin-top: 8%;
}

.background{
    background-image: url(/assets/images/image-header/equipe2.png);
    background-size: cover;
    background-position: center;
    min-width: 100%;
    min-height: 100%;
    position: relative;
}

h1{
    margin-top: 5%;
}

.our-team{
    padding: 30px 0 50px;
    background-color: white;
    text-align: center;
    overflow: hidden;
    position: relative;
    border:2px;
    margin: auto;
    min-width: 14rem;
    margin-bottom: 20%;
    box-shadow: 0px 10px 10px black;
}
h1{
    margin-bottom:15px;
    font-size: 50px;
}

.our-team .pic{
    display:inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}
.our-team .pic::before{
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #666666;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0; 
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.our-team:hover .pic::before{
    height: 100%;
}
.our-team .pic::after{
    content: "";
    width: 100%;
    height: 99%;
    border-radius: 50%;
    background: darkcyan;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.our-team .pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}
.our-team:hover .pic img{
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}
.our-team .team-content{
    margin-bottom: 30px;
}
.our-team .title{
    font-size: 22px;
    font-weight: 700;
    color: #4e5052;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.our-team .post{
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize; 
}
.our-team .social{
    width: 100%;
    padding: 0;
    margin:0;
    background: #666666;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
    
}

.our-team:hover .social{
    bottom: 0;
}
.our-team .social li{
    display: inline-block;
}
.our-team .social li a{
    display: block;
    font-size: 23px;
    color: white;transition: all 0.5s ease 0s;
    
}
.our-team .social li a:hover{
    color:black;
    text-decoration: none; 
}