/* .equipe{
    position: relative;
}



.equipe{
    padding: 30px 0 50px;
    background-color: white;
    text-align: center;
    overflow: hidden;
    position: relative;
    border:2px;
    margin: auto;
    min-width: 14rem;
    margin-bottom: 20%;
    box-shadow: 0px 10px 10px black;
    min-height: 425px;
}

.equipe .pic{
    display:inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}
.equipe .pic::before{
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #666666;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.equipe:hover .pic::before{
    height: 100%;
}
.equipe .pic::after{
    content: "";
    width: 100%;
    height: 99%;
    border-radius: 50%;
    background: #72cfd0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.equipe .pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}
.equipe:hover .pic img{
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}
.equipe .team-content{
    margin-bottom: 30px;
}
.equipe .title{
    font-size: 22px;
    font-weight: 700;
    color: #4e5052;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.equipe .post{
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}
.equipe .social{
    width: 100%;
    padding: 0;
    margin:0;
    background: #666666;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
    
}

.equipe:hover .social{
    bottom: 0;
}
.equipe .social li{
    display: inline-block;
}
.equipe .social li a{
    display: block;
    font-size: 23px;
    color: white;transition: all 0.5s ease 0s;
    
}
.equipe .social li a:hover{
    color:black;
    text-decoration: none;
}

span, h3, h4 {
    font-family: Raleway;
}

span{
    font-size: 20px;
    color: #666666;
}

.card-group{
    margin-top: 8%;
}


h4 {
    max-width: 15ch;
} */

h1{
    margin-top: 3em;
    font-size: 50px;
    font-family: Raleway;
}

.container{
    margin-top: 10em;
} 
.fa-spin-fast {
    -webkit-animation: fa-spin-fast 0.2s infinite linear;
    animation: fa-spin-fast 0.2s infinite linear;
}
@-webkit-keyframes fa-spin-fast {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes fa-spin-fast {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.material-card {
    position: relative;
    height: 0;
    padding-bottom: calc(100% - 16px);
    margin-bottom: 6.6em;
}
.material-card h2 {
    position: absolute;
    top: calc(100% - 16px);
    left: 0;
    width: 100%;
    padding: 10px 16px;
    color: #fff;
    font-size: 1.4em;
    line-height: 1.6em;
    margin: 0;
    z-index: 10;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.material-card h2 span {
    display: block;
}
.material-card h2 strong {
    font-weight: 400;
    display: block;
    font-size: .8em;
}
.material-card h2:before,
.material-card h2:after {
    content: ' ';
    position: absolute;
    left: 0;
    top: -16px;
    width: 0;
    border: 8px solid;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.material-card h2:after {
    top: auto;
    bottom: 0;
}
@media screen and (max-width: 767px) {
    .material-card.mc-active {
        padding-bottom: 0;
        height: auto;
    }
}
.material-card.mc-active h2 {
    top: 0;
    padding: 10px 16px 10px 90px;
}
.material-card.mc-active h2:before {
    top: 0;
}
.material-card.mc-active h2:after {
    bottom: -16px;
}
.material-card .mc-content {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 16px;
    left: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.material-card .mc-btn-action {
    position: absolute;
    right: 16px;
    top: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid;
    width: 54px;
    height: 54px;
    line-height: 44px;
    text-align: center;
    color: #fff !important;
    cursor: pointer;
    z-index: 20;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.material-card.mc-active .mc-btn-action {
    top: 62px;
}
.material-card .mc-description {
    position: absolute;
    top: 100%;
    right: 30px;
    left: 30px;
    bottom: 54px;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 1.2s;
    -moz-transition: all 1.2s;
    -ms-transition: all 1.2s;
    -o-transition: all 1.2s;
    transition: all 1.2s;
}
.material-card .mc-footer {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.material-card .mc-footer h4 {
    position: absolute;
    top: 200px;
    left: 30px;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    -webkit-transition: all 1.4s;
    -moz-transition: all 1.4s;
    -ms-transition: all 1.4s;
    -o-transition: all 1.4s;
    transition: all 1.4s;
}
.material-card .mc-footer a {
    display: block;
    float: left;
    position: relative;
    width: 52px;
    height: 52px;
    margin-left: 5px;
    margin-bottom: 15px;
    font-size: 28px;
    color: #fff;
    line-height: 52px;
    text-decoration: none;
    top: 200px;
}
.material-card .mc-footer a:nth-child(1) {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.material-card .mc-footer a:nth-child(2) {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
.material-card .mc-footer a:nth-child(3) {
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.material-card .mc-footer a:nth-child(4) {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.material-card .mc-footer a:nth-child(5) {
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    -ms-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
}
.material-card .img-container {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.material-card.mc-active .img-container {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: 0;
    top: 12px;
    width: 60px;
    height: 60px;
    z-index: 20;
}
.img-responsive{
    max-width: 100%;
}
.material-card.mc-active .mc-content {
    padding-top: 5.6em;
}
@media screen and (max-width: 767px) {
    .material-card.mc-active .mc-content {
        position: relative;
        margin-right: 16px;
    }
}
.material-card.mc-active .mc-description {
    top: 50px;
    padding-top: 5.6em;
    opacity: 1;
    filter: alpha(opacity=100);
}
@media screen and (max-width: 767px) {
    .material-card.mc-active .mc-description {
        position: relative;
        top: auto;
        right: auto;
        left: auto;
        padding: 50px 30px 70px 30px;
        bottom: 0;
    }
}
.material-card.mc-active .mc-footer {
    overflow: visible;
    position: absolute;
    top: calc(100% - 16px);
    left: 16px;
    right: 0;
    height: 82px;
    padding-top: 15px;
    padding-left: 25px;
}
.material-card.mc-active .mc-footer a {
    top: 0;
}
.material-card.mc-active .mc-footer h4 {
    top: -32px;
}
.material-card.Red h2 {
    background-color: #70CCCC;
}
.material-card.Red h2:after {
    border-top-color: #62bcbc;
    border-right-color: #62bcbc;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.material-card.Red h2:before {
    border-top-color: transparent;
    border-right-color: #62bcbc;
    border-bottom-color: #62bcbc;
    border-left-color: transparent;
}
.material-card.Red.mc-active h2:before {
    border-top-color: transparent;
    border-right-color: #62bcbc;
    border-bottom-color: #62bcbc;
    border-left-color: transparent;
}
.material-card.Red.mc-active h2:after {
    border-top-color: #62bcbc;
    border-right-color: #62bcbc;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.material-card.Red .mc-btn-action {
    background-color: #70CCCC;
}
.material-card.Red .mc-btn-action:hover {
    background-color: #70CCCC;
}
.material-card.Red .mc-footer h4 {
    color: #70CCCC;
}
.material-card.Red .mc-footer a {
    background-color: #70CCCC;
}
.material-card.Red.mc-active .mc-content {
    background-color: #c9efef;
}
.material-card.Red.mc-active .mc-footer {
    background-color: #b0e8e8;
}

body {
    background-color: #ECEFF1;
    color: #37474F;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 16px;
}
h1,
h2,
h3 {
    font-weight: 200;
}