.equipe{
    position: relative;
}

h1{
    margin-top: 115px;
    font-size: 50px;
    font-family: Raleway;
}

.equipe{
    padding: 30px 0 50px;
    background-color: white;
    text-align: center;
    overflow: hidden;
    position: relative;
    border:2px;
    margin: auto;
    min-width: 14rem;
    margin-bottom: 20%;
    box-shadow: 0px 10px 10px black;
    min-height: 425px;
}

.equipe .pic{
    display:inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}
.equipe .pic::before{
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #666666;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.equipe:hover .pic::before{
    height: 100%;
}
.equipe .pic::after{
    content: "";
    width: 100%;
    height: 99%;
    border-radius: 50%;
    background: #72cfd0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.equipe .pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}
.equipe:hover .pic img{
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}
.equipe .team-content{
    margin-bottom: 30px;
}
.equipe .title{
    font-size: 22px;
    font-weight: 700;
    color: #4e5052;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.equipe .post{
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}
.equipe .social{
    width: 100%;
    padding: 0;
    margin:0;
    background: #666666;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;

}

.equipe:hover .social{
    bottom: 0;
}
.equipe .social li{
    display: inline-block;
}
.equipe .social li a{
    display: block;
    font-size: 23px;
    color: white;transition: all 0.5s ease 0s;

}
.equipe .social li a:hover{
    color:black;
    text-decoration: none;
}

span, h3, h4 {
    font-family: Raleway;
}

span{
    font-size: 20px;
    color: #666666;
}

.card-group{
    margin-top: 8%;
}


h4 {
    max-width: 15ch;
}