.container {
    margin-bottom: 5em;
    margin-top: 2em;
}

/* début logo partenaire */

img {
    filter: grayscale();
    -webkit-filter: grayscale(100%);
    margin-top: 1em;
}

/* hover couleur logo apparait */

img:hover {
    filter: none;
}

.logo {
    width: 12rem;
    margin-left: 2em;
}

@media screen and (max-width: 321px) {
    .logo {
        margin-left: 3em;
        margin-top: 3.5em;
    }
}

@media screen and (min-width: 321px) and (max-width: 380px) {
    .logo {
        margin-left: 4em;
        margin-top: 3.5em;
    }
}


@media screen and (min-width: 370px) and (max-width: 600px) {
    .logo {
        margin-left: 5em;
        margin-top: 3.5em;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .logo{
        margin-right: 2em;
    }
}

/* fin logo partenaire */

/* Titre */

h1 {
    text-transform: uppercase;
    color: #696969;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: Raleway;
}

h5 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    padding: 40px 15px 0;
    font-size: 1.75rem;
    margin-bottom: 2em;
    color: #696969;
    font-family: Raleway;
}