<h1 class="text-center my-5"> Partenaires </h1>
<div class="container justify-content-center">
    <!--Debut section partenaires financiers-->
    <h5 class="text-center">Partenaires Financiers</h5>
    <div class="row justify-content-around partenaireFin">
        <div class="row">
            <div class="col-sm col-xl-2 col-md-3 col-sm-12" *ngFor="let partenaire of partFinancier">
                <a class="m-3" href="{{partenaire.url_site}}" target="_blank" title="Lien externe: {{partenaire.url_site}}"><img src="{{partenaire.image}}" class="region" alt="image partenaire"></a>
            </div>
        </div>
    </div>

    <!-- fin section partenaires financiers -->

    <!-- Début section boutton -->

    <div class="container d-flex justify-content-center">
        <a class="btn btn-secondary don" href="https://www.helloasso.com/associations/la-fabrique-d-usages-numeriques/formulaires/1/widget" title="Lien externe: https://www.helloasso.com/associations/la-fabrique-d-usages-numeriques/formulaires/1/widget" target="_blank">Faire un don</a>
    </div>
    <div class="container d-flex justify-content-center">
        <a class="btn btn-secondary devpart" routerLink='/contact'>Devenir partenaire</a>
    </div>

    <!-- fin section boutton -->
    <!-- Début section partenaires techniques -->

    <h5 class="text-center">Partenaires Techniques</h5>
    <div class="row justify-content-around partenaireTech">
        <div class="row">
            <div class="col-sm col-xl-2 col-md-3 col-sm-12" *ngFor="let partenaire of partTechnique">
                <a class="m-3" href="{{partenaire.url_site}}" target="_blank" title="Lien externe: {{partenaire.url_site}}"><img src="{{partenaire.image}}" class="region" alt="image partenaire"></a>
            </div>
        </div>
    </div>
    <!-- Fin section partenaires techniques -->

</div>

