<h1 class="text-center my-5"> Partenaires </h1>

<!-- Section partenaire -->

<div class="container justify-content-center">

    <!--Debut section partenaires financiers-->
    <h5 class="text-center">Partenaires Financiers</h5>
    <div class="row justify-content-around">
        <div class="col-xl-3 col-md-4 col-sm-6" *ngFor="let partenaire of partFinancier">
            <a href="{{partenaire.url_site}}" target="_blank" title="Lien externe: {{partenaire.url_site}}"><img src="{{partenaire.image}}" class="logo" alt="image partenaire"></a>
        </div> 
    </div>
    
    <!-- fin section partenaires financiers -->
    
    <!-- Début section partenaires techniques -->
    
    <h5 class="text-center">Partenaires Techniques</h5>
    <div class="row justify-content-around">
        <div class="col-xl-3 col-md-4 col-sm-6" *ngFor="let partenaire of partTechnique">
            <a href="{{partenaire.url_site}}" target="_blank" title="Lien externe: {{partenaire.url_site}}"><img src="{{partenaire.image}}" class="logo" alt="image partenaire"></a>
        </div>
    </div>
    <!-- Fin section partenaires techniques -->
    
</div>

