<h1 class="text-center my-5"> Partenaires </h1>
<div class="container justify-content-center">
    <div class="row justify-content-around">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h5 class="text-center">Partenaires Financiers</h5>
            <!--Debut partenaires-->
        <ul class="social-footer-ul">
            <a class="m-3" href="http://www.regioncentre-valdeloire.fr/accueil.html" target="_blank" title="Lien externe: http://www.regioncentre-valdeloire.fr/accueil.html"><img src="assets/images/icons_footer/region-centre-val-de-loire.jpg" alt="region-centre-val-de-loire"></a>
            <a class="m-3" href="http://tours-metropole.fr/" target="_blank" title="Lien externe: http://tours-metropole.fr/"><img src="assets/images/icons_footer/tours-metropole.png" alt="tours-metropole"></a>
            <a class="m-3" href="https://www.fondationorange.com/" target="_blank" title="Lien externe: https://www.fondationorange.com/"><img src="assets/images/icons_footer/logo_fondation-orange.png" alt="fondationOrange"></a>
            <a class="m-3" href="http://www.indre-et-loire.gouv.fr/Services-de-l-Etat/Presentation-des-services/Direction-departementale-de-la-cohesion-sociale" target="_blank" title="Lien externe:http://www.indre-et-loire.gouv.fr/Services-de-l-Etat/Presentation-des-services/Direction-departementale-de-la-cohesion-sociale"><img src="assets/images/image-header/ddcs.jpg" alt="ddcs"></a>
            <a class="m-3" href="https://www.associations.gouv.fr/FDVA.html" target="_blank" title="Lien externe:https://www.associations.gouv.fr/FDVA.html"><img src="assets/images/image-header/fdva.jpg" alt="fdva"></a>
        </ul>
        </div>
        <div class="part">
            <a class="btn btn-secondary d-flex justify-content-center don" href="https://www.helloasso.com/associations/la-fabrique-d-usages-numeriques/formulaires/1/widget" title="Lien externe: https://www.helloasso.com/associations/la-fabrique-d-usages-numeriques/formulaires/1/widget" target="_blank">Faire un don</a>
            <a class="btn btn-secondary d-flex justify-content-center devpart" routerLink='/contact'>Devenir partenaire</a>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h5 class="text-center parttech">Partenaires Techniques</h5>
            <!--Debut partenaires-->
        <ul class="social-footer-ul">
            <a class="m-3" href="https://www.compagnons-du-devoir.com/" target="_blank" title="Lien externe: https://www.compagnons-du-devoir.com/"><img src="assets/images/icons_footer/cdd.png" alt="compagnons-du-devoir"></a>
            <a class="m-3" href="https://www.fartools.com" target="_blank" title="Lien externe:https://www.fartools.com"><img src="assets/images/image-header/fartools.png" alt="farrtools"></a>
        </ul>
        </div>
    </div>
</div>

