.social-footer-ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
    margin-bottom: 5em;
    margin-top: 2em;
}
.social-footer-ul a img {
    width: 70px;
}


a, h1, h5 {
    font-family: Raleway;
}

a {
    font-size: 20px;
}

h1 {
    text-transform: uppercase;
    color: #696969;
    font-weight: bold;
    font-size: 2.5rem;
}

h5 {
    font-size: 22px;
    font-weight: bold;
}

.btn {
    margin-top: 5em;
    margin-bottom: 6em;
    background-color: #70CCCC;
    border-color: #70CCCC;
    color: #FFF;
    font-weight: 600;
}


.btn:hover{
    background-color: #333333;
    border-color: #333333;
    color: #fff;
}
