<div class="container backgroundimage">
    <h1 class="my-5"> Adhésion </h1>
    <h4> Tarif normal: <span>20€</span> </h4>
    <h4> Tarif réduit(étudiants, sans emplois): <span>10€</span> </h4>
    <h4> Tarif Personne Morale(Association, Collectivité, Entreprise): <span>50€</span> </h4>
    <h4 class="mt-5"> Rejoignez notre association: </h4>
    <div class="mb-5">
        <a href="https://www.helloasso.com/associations/la-fabrique-d-usages-numeriques/adhesions/adhesion-funlab-fablab-de-tours" title="Lien externe: https://www.helloasso.com/associations/la-fabrique-d-usages-numeriques/adhesions/adhesion-funlab-fablab-de-tours" target="_blank" class="mx-3 btn btn-secondary btn-sm"> Adhérer sur helloasso.com </a>
        <a href="https://www.funlab.fr/?ddownload=2271" target="_blank" class="mx-3 btn btn-secondary btn-sm">Télécharger notre bulletin d’adhésion</a>
    </div>
</div>


