<section class="container">
  <div class="header">
    <h1>Adhésion</h1>
  </div>
  <div class="row justify-content-around">
    <!-- Start Card One -->
    <div class="col-sm-12 col-md-12 col-lg-4 mt-3">
      <div class="card ml-4 mr-4 h-100">
        <div class="card-body">
          <h3>Tarif Normal</h3>
          <h4>40,00 € <span class="an">/ an </span></h4>
          <ul class="adherant">
            <li>Tout public</li>
          </ul>
        </div>
        <div class="card-footer">
          <a href="https://www.helloasso.com/associations/la-fabrique-d-usages-numeriques/adhesions/adhesion-funlab-fablab-de-tours"
            title="https://www.helloasso.com/associations/la-fabrique-d-usages-numeriques/adhesions/adhesion-funlab-fablab-de-tours"
            target="_blank" class="btn btn-primary btn-block"> Adhesion en Ligne </a>
          <a href="https://www.funlab.fr/?ddownload=2271" target="_blank" class="btn btn-primary btn-block"> Bulletin
            d’adhésion</a>
        </div>
      </div>
    </div>
    <!-- End Card One -->

    <!-- Start Card Two -->
    <div class="col-sm-12 col-md-12 col-lg-4 mt-3">
      <div class="card ml-4 mr-4 h-100">
        <div class="card-body">
          <h3>Tarif Réduit</h3>
          <h4>20,00 € <span class="an">/ an </span></h4>
          <ul class="adherant">
            <li>Étudiants</li>
            <li>Demandeur d'emploi</li>
          </ul>
        </div>
        <div class="card-footer">
          <a href="https://www.helloasso.com/associations/la-fabrique-d-usages-numeriques/adhesions/adhesion-funlab-fablab-de-tours"
            title="https://www.helloasso.com/associations/la-fabrique-d-usages-numeriques/adhesions/adhesion-funlab-fablab-de-tours"
            target="_blank" class="btn btn-primary btn-block"> Adhesion en Ligne </a>
          <a href="https://www.funlab.fr/?ddownload=2271" target="_blank" class="btn btn-primary btn-block"> Bulletin
            d’adhésion</a>
        </div>
      </div>
    </div>
    <!-- End Card Two -->

    <!-- Start Card Three -->
    <div class="col-sm-12 col-md-12 col-lg-4 mt-3">
      <div class="card ml-4 mr-4 h-100">
        <div class="card-body">
          <h3>Tarif Personne Morale</h3>
          <h4>50,00 €<span class="an">/ an </span></h4>
          <ul class="adherant">
            <li>Association</li>
            <li>Collectivité</li>
            <li>Entreprise</li>
          </ul>
        </div>
        <div class="card-footer">
          <a href="https://www.helloasso.com/associations/la-fabrique-d-usages-numeriques/adhesions/adhesion-funlab-fablab-de-tours"
            title="https://www.helloasso.com/associations/la-fabrique-d-usages-numeriques/adhesions/adhesion-funlab-fablab-de-tours"
            target="_blank" class="btn btn-primary btn-block"> Adhesion en Ligne </a>
          <a href="https://www.funlab.fr/?ddownload=2271" target="_blank" class="btn btn-primary btn-block"> Bulletin
            d’adhésion</a>
        </div>
      </div>
    </div>
    <!-- End Card Three -->
  </div>
