/* css card */
.taille {
  margin-top: 140px;
}
.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
  padding: 15px 0;
}

h1, h3, p, h2, h4, li, i, .btn {
  font-family: Raleway;
}

.display-4{
  font-size: 2.5rem;
}

.titre{
  margin-top: 3em;
  margin-bottom: 1.5em;
  font-size: 2.5em;
  text-transform: uppercase;
  color: #696969;
  font-weight: bold;
  font-family: Raleway;
}

h3 {
  font-size: 1.5rem;
}

.btn {
  background-color: #70CCCC;
  border: transparent;
}

.btn:hover {
  background-color: #333333;
}

@media screen and (min-width:350px) and (max-width: 800px) {
  h3 {
    font-size: 1.375rem;
    margin-left: 3.5em;
  }
  li {
    font-weight: 600;
  }
  
  .list-inline {
    margin-left: 3em;
    margin-top: 2em;
  }
  
  .list-inline-item {
    margin-top: 1em;
  } 
  
  .clock {
    margin-top: 0.5em;
  }
  
}

@media screen and (max-width:350px) {
  
  .list-inline {
    margin-left: 2em;
  }
  
  .list-inline-item {
    margin-top: 1em;
  }
  
  .clock {
    margin-top: 1em;
  }
  
  h3 {
    margin-left: 3em;
  }
  
}

li {
  font-weight: 600;
}

li, span, h2 {
  text-transform: capitalize;
}