/* css card */
.taille {
  margin-top: 140px;
}
.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}

h1, h3, p, h2, h4, li, i, .btn {
  font-family: Raleway;
}

h1{
  margin-bottom: 5%;
  margin-top: 5%;
  font-weight: 600;
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  h3 {
    font-size: 1.375rem;
    margin-left: 2em;
  }
}