/* Start === styling of header for section comment ca marche */

h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #696969;
  margin-bottom: 1em;
}

/* End === styling of header for section comment ca marche */

/* Start === top-container - Esprit FabLab styling */

.top-container {
  background-color: #F6F6F2;
}

.top-container h2 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 40px 15px 0;
  color: #000000;
  font-size: 40px;
}

/* cards styling */

.top-container h4 {
  text-transform: uppercase;
  font-weight: 600;
}

.card {
  border: none;
  background-color: #F6F6F2;
}

/* icon styling */

.fa {
  padding: 10px;
  font-size: 30px;
}

/* End === top-container - Esprit FabLab styling */

/* Start === Activity section */

.activity-header h2 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  padding: 40px 15px 0;
  font-size: 40px;
  margin-top: 1em;
  margin-bottom: 2em;
  color: #696969;
}

/*  paragraph styling */

.lead {
  margin-top: 12px;
  text-align: justify;
  font-size: 19px;
}

/* End === Activity section */

/* Start === section Horaire  */

.card-horaire {
  text-align: center;
  letter-spacing: 1px;
  background-color: #70CCCC;
  border-color: #70CCCC;
  color: #FFF;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: .1s all ease-in-out;
  -moz-transition: .1s all ease-in-out;
  -o-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
}

.card-horaire:hover {
  background-color: #333333;
  border-color: #333333;
  color: #fff;
}

/* top sentence of section horaire */

#timeDiv {
  font-size: 16px;
  text-align: center;
}

/* bottom sentence of section horaire */

#statusDiv {
  font-size: 16px;
  text-align: center;
}

/* Color for open */

.open {
  color: #27ae60;
}

/* Color for closed  */

.closed {
  color: rgba(231, 76, 60, 0.85);
}

/* To split the days and hours in modal */

.day {
  float: left;
}

.time {
  float: right
}

/* Color to highlight day in modal */

.today {
  color: rgb(200, 85, 39);
  font-weight: 600;
  font-family: Raleway;
}

/* End === section Horaire  */

/* Start === section Agenda */

.agenda {
  text-align: center;
  letter-spacing: 1px;
}

.event-detail-start-date,
.event-detail-start-time,
.event-detail-end-time {
  font-size: 12px;
  font-family: Raleway;
}

.event-detail-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  font-family: Raleway;
}

/* link to see agenda */

.agenda-more {
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  font-family: Raleway;
}

/* End === section Agenda */

/* Start === section Newsletter */

.form-control {
  height: calc(2.5rem + 2px);
  font-family: Raleway;
}

/* Button */

.btn {
  padding: 0px;
  border-radius: 0.5px;
}

.btn:hover {
  background-color: #000000;
  border: #000000;
  transition: 0;
}

.fa-paper-plane {
  font-size: 20px;
}

/* End === section Newsletter */

h1, h2, h3, h4, p, .day, .time, a {
  font-family: Raleway;
}