/* Start === styling of header for section comment ca marche */

h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #696969;
  margin-bottom: 1em;
  font-weight: bold;
}

/* End === styling of header for section comment ca marche */

/* Start === top-container - Esprit FabLab styling */

.top-container {
  background-color: #F6F6F2;
}

.top-container h2 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 40px 15px 0;
  color: #000000;
  font-size: 40px;
}

/* cards styling */

.top-container h4 {
  text-transform: uppercase;
  font-weight: 600;
}

.card {
  border: none;
  background-color: #F6F6F2;
}

/* icon styling */

.fa {
  padding: 10px;
  font-size: 30px;
}

/* End === top-container - Esprit FabLab styling */

/* Start === Activity section */

.activity-header h2 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  padding: 40px 15px 0;
  font-size: 40px;
  margin-top: 1em;
  margin-bottom: 2em;
  color: #696969;
}

/*  paragraph styling */

.lead {
  margin-top: 12px;
  text-align: justify;
  font-size: 19px;
}

/* End === Activity section */

/* Start === section Horaire  */

.horaire {
  text-align: center;
  letter-spacing: 1px;
  
}

/* To split the days and hours  */

.day {
  float: left;
  font-size: 12px;
  font-family: Raleway;
}

.time {
  float: right;
  font-weight: 600;
  font-size: 13px;
  font-family: Raleway;
}

/* End === section Horaire  */

/* Start === section Agenda */

.agenda {
  text-align: center;
  letter-spacing: 1px;
}

.event-detail-start-date,
.event-detail-start-time,
.event-detail-end-time {
  font-size: 12px;
  font-family: Raleway;
}

.event-detail-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  font-family: Raleway;
}

/* link to see agenda */

.agenda-more {
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  font-family: Raleway;
  }

  .agenda-more a {
    color: #70CCCC;
  }

/* End === section Agenda */

/* Start === section Newsletter */

.form-control {
  height: calc(2.5rem + 2px);
  font-family: Raleway;
}

/* Button */

.btn {
  padding: 0px;
  border-radius: 0.5px;
  background-color: #70CCCC;
  border-color: #70CCCC;
}

.btn:hover {
  background-color: #000000;
  border: #000000;
  transition: 0;
}

.fa-paper-plane {
  font-size: 20px;
}

/* End === section Newsletter */

h1, h2, h3, h4, p, .day, .time, a {
  font-family: Raleway;
}