.backgroundimage {
  background-image: url("/assets/images/image-header/réalisation3.jpg");
  background-size: cover;
  background-position: center;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}

h1 {
  font-size: 3.25rem;
  font-family: Raleway;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  max-width: 28ch;
  text-align: center;
  margin: 0 auto;
  margin-top: 23%;
  text-shadow: 3px 3px 3px black;
}

.marge
{
  padding-top: 1050px;
}

@media screen and (max-width: 400px){
  .marge {
    padding-top: 750px;
  }
}
