.backgroundimage {
  background-image: url("/assets/images/image-header/réalisation3.jpg");
  background-size: cover;
  background-position: center;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}

h1 {
  font-size: 3.5rem;
  font-family: Raleway;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  max-width: 28ch;
  text-align: center;
  margin: 0 auto;
  margin-top: 23%;
  text-shadow: 3px 3px 3px black;
}

@media screen and (max-width: 600px){
  h1{
    font-size: 2.5rem;
    margin-top: 35%;
  }
}

.marge
{
  padding-top: 900px;
}


@media screen and (max-width: 400px){
  .marge {
    padding-top: 700px;
  }
}

.adhesion {
  margin-top: 8em;
}

.part{
  margin-top: 8em;
}