<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />

<div class="backgroundimage">
  <h1 class="text-center">Bienvenue à la Fabrique d'Usages Numériques</h1>
</div>
<div class="marge">
  <app-presentation></app-presentation>
</div>
<div class="mt-5">
  <app-comment-ca-marche></app-comment-ca-marche>
</div>
<div class="mt-5">
  <app-localisation></app-localisation>
</div>
<div class="adhesion">
  <app-adhesion></app-adhesion>
</div>
<div class="part">
  <app-partenaire></app-partenaire>
</div>
